<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="xcon" connectionString="Data Source=.;Initial Catalog=SISTEMA_VIDEOS;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="SISTEMA_VIDEOS.Properties.Settings.WIcon" connectionString="Data Source=SQL5028.site4now.net;User ID=DB_A3CDDC_SISTEMAVideos_admin;Password=Fa8R12i0"
            providerName="System.Data.SqlClient" />
        <add name="SISTEMA_VIDEOS.Properties.Settings.WOIcon" connectionString="Data Source=.;Initial Catalog=SISTEMA_VIDEOS;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>